<!DOCTYPE html>
<html>

<head>
    <meta chaset="UTF-8"></meta>
    <title>Chocolates Basil Cacau </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel = "stylesheet" type = "text/css" href = "index.css"></link>
</head>

<body>

  <header class = "cabeçalho">
    <nav>  

      <div class="dropdown-semmenu"><!--QUEM SOMOS-->
  
        <button class="dropbtn-semmenu">QUEM SOMOS</button>      
   
      </div> 
     
      <div class="dropdown"><!--PRODUTOS-->

        <button class="dropbtn">PRODUTOS</button>
        
        <div class="dropdown-content-laranja">
    
          <a href="#">PEGUE E LEVE</a>
    
        </div>

        <div class = "dropdown-content">
    
          <a href="#">ACESSÓRIOS</a>
          <a href="#">CAFETERIA</a>
          <a href="#">DIET</a>
          <a href="#">DINDA</a>
          <a href="#">INFANTIL</a>
          <a href="#">PÁSCOA</a>
          <a href="#">PRESENTES</a>
          <a href="#">TABLETES</a>
          <a href="#">TRUFAS</a>
          <a href="#">VARIEDADES</a>
    
        </div>

      </div>  

      <div class="dropdown-semmenu"><!--CONTATO-->

        <button class="dropbtn-semmenu">CONTATO</button>
      
      </div> 

      <div class="dropdown-semmenu"><!--LOJA-->

        <button class="dropbtn-semmenu">LOJAS</button>
      
      </div> 

      <div class="dropdown-rosa"><!--ROSA-->

        <button class="dropbtn-rosa">SEJA FRANQUEADO</button>
      
      </div>

      <div class="dropdown-busca"><!--LOJA-->

        <button class="dropbtn-busca">Buscar...</button>
      
      </div>

      <!--IMAGENS MENU-->

      <div class = "cacaubr">

        <img src = "Images/cacau.png" alt = "Chocolates Brasil Cacau"></img>

      </div>

      <div class = "cacaumobile">
      
        <img src = "Images/cacaumobile.svg" alt = "Chocolates Brasil Cacau"></img>
      
      </div>

      <div class = "menumobile">
   
        <img src = "Images/menu.jpg" alt = "Menu"></img>
     
      </div>
    
      <div class = "contato">
   
        <img src = "Images/contato.png" alt = "Torne-se um franqueado"></img>
   
      </div>

      <!--ÍCONES-->

      <div class = "insta-icon">
    
        <img src = "Images/instagram.png" alt = "Instagram"></img>
    
      </div>  

      <div class = "fb-icon">
    
        <img src = "Images/facebook.png" alt = "Facebook"></img>
    
      </div>

      <div class = "yt-icon">
    
        <img src = "Images/yt.png" alt = "Youtube"></img>
    
      </div>

      <div class = "share-icon">
   
        <img src = "Images/share.jpg" alt = "Compartilhar"></img>
    
      </div>
    
    </nav>

  </header>
  
  <main>

    <div class = "green">
    
      <img src = "Images/green.png" alt = "Wallpaper"></img>
    
    </div>

    <div class = "greenmobile">
    
      <img src = "Images/greenmobile.png" alt = "Wallpaper Mobile"></img>
    
    </div>

    <div class = "choco">
    
      <img src = "Images/choco.jpg" alt = "Chocolate"></img>
   
    </div>

  </main>

</body>

</html>
